.button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: transparent;
  min-width: 200px;
  text-transform: uppercase;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  font-size: 14px;
  font-weight: 700;
  border: solid 2px $-color-primary;
  border-radius: 0;
  transition: none;
  text-align: center;
  line-height: 16px;

  @include respond(phone) {
    margin-bottom: 10px;
    width: 100% !important;
  }

  &:not(:last-child) {
    margin-right: 10px;

    @include respond(phone) {
      margin-right: 0px;
    }
  }
}

.button--primary {
  color: #fff;
  background-color: $-color-primary;
  border-radius: 5px;

  &:hover {
    background-color: darken($color: $-color-primary, $amount: 10);
    border: solid 2px darken($color: $-color-primary, $amount: 10);
    transform: scaleX(1.03) scaleY(1.03);
  }
}

.button--secondary {
  color: $-color-primary;
  border-radius: 5px;

  &:hover {
    color: #fff;
    background-color: darken($color: $-color-primary, $amount: 10);
    border: solid 2px darken($color: $-color-primary, $amount: 10);
    transform: scaleX(1.03) scaleY(1.03);
  }
}

.button--tertiary {
  color: $-color-primary;
  border: none;
}
