.gallery {
  max-width: $-max-with-container;
  margin: auto;
  padding: 50px 0px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;

  @include respond(phone) {
    padding: 20px 0px;
  }

  .gallery__banner {
    max-width: $-max-with-container;

    img {
      width: 100%;
    }
  }

  .gallery_items {
    display: grid;
  }

  .gallery__item {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 100%;
    list-style: none;
    text-align: center;

    figure {
      position: relative;
      float: left;
      overflow: hidden;
      margin-right: 0px;
      max-width: 100%;
      width: 33.3%;
      background: black;
      text-align: center;
      cursor: pointer;

      @include respond(tab-port) {
        width: 50%;
      }

      @include respond(phone) {
        width: 100%;
        margin-bottom: 20px;
      }

      img {
        position: relative;
        display: block;
        min-height: 100%;
        max-width: 100%;
        opacity: 0.8;
      }
    }
  }
}