.logo {
  width: 60px;
}

.menu {
  clear: none;
  float: right;
  max-height: none;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
  display: flex;

  .menu__item {

    .menu__link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      color: #cbbde2;
    }
  }
}
