<main>
  <div class="background-black">
    <section class="intro">
      <div class="intro__title">
        <img src="assets/images/eternals_sem_fundo.png" alt="Eternals" class="intro-img">
      </div>
      <!-- <div class="intro__video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/x_me3xsvDgk?controls=0"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div> -->
      <div class="intro__description">
        {{serie.description}}
      </div>
    </section>
  </div>

  <div class="background-white">
    <section class="comics">
      <div class="comic" *ngFor="let comic of comics">
        <img class="comic__thumbnail" [src]="comic.thumbnail.path + '.' + comic.thumbnail.extension"
          [alt]="comic.title">

        <div class="comic__description">
          {{comic.title}}
        </div>
      </div>
    </section>
  </div>
</main>
