@import '../../../../assets/styles/abstracts/variables';
@import '../../../../assets/styles/abstracts/mixins';

.intro {
  max-width: $-max-with-container;
  margin: auto;
  padding: 50px 0px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;

  .intro_items {
    display: grid;
  }
}

.grid {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 100%;
  list-style: none;
  text-align: center;

  figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin-right: 0px;
    max-width: 100%;

    width: 33.3%;
    background: black;
    text-align: center;
    cursor: pointer;

    @include respond(tab-port){
      width: 47%;
    }

    @include respond(phone){
      width: 95%;
    }

    img {
      position: relative;
      display: block;
      min-height: 100%;
      max-width: 100%;
      opacity: 0.8;
    }
  }
}
