@import '../../../../assets/styles/abstracts/variables';
@import '../../../../assets/styles/abstracts/mixins';

.intro {
  max-width: $-max-with-container;
  margin: auto;
  padding: 100px 0px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;

  @include respond(phone) {
    padding: 50px 0px;
    font-size: 18px;
  }

  .intro_items {
    display: flex;

  }

  .intro__item {
    width: 33.3%;
    display: inline;
    text-align: center;
  }

  .intro__img {}

  .intro__thumbnail {
    max-width: 100%;
  }

  .intro__description {
    text-align: justify;
    margin: auto;
    padding: 30px;
    max-width: 900px;
    color: #fff;
  }
}
