<main>
  <div class="background-black">
    <div class="go-back">
      <a class="button button--tertiary" [routerLink]="['/']">&#8592; Back to Home</a>
    </div>
    <section class="serie">
      <h1 class="title--secondary">{{serie.title}}</h1>

      <div class="serie__description">
        {{serie.description}}
      </div>
    </section>
  </div>

  <div class="background-white">
    <section class="comics">
      <p class="text--primary">SHOWING {{comics.length}} OF {{comics.length}} RESULTS </p>
      <div class="comic">
        <figure class="effect-milo" *ngFor="let comic of comics">
          <a [routerLink]="['/comic/'+comic.id]">
            <img [src]="comic.thumbnail.path + '.' + comic.thumbnail.extension" [alt]="comic.title"
              *ngIf="comic.thumbnail" />
            <figcaption>
              <h2>{{comic.title}}</h2>
            </figcaption>
          </a>
        </figure>
      </div>
    </section>
  </div>
</main>
