$-color-primary: #071D41;
$-color-secondary: #04132A;

//Background colors
$-color-background-primary :#F0F0F0;
$-color-background-secondary: #202020;


//Font colors
$-color-font-primary : #333333;
$-color-font-secondary: #fff;


//Width 
$-max-with-container: 1200px;