$-color-primary: #e62429;

//Background colors
$-color-background-primary :#F0F0F0;
$-color-background-secondary: #202020;
$-color-background-black: black;;

//Font colors
$-color-font-primary : #333333;
$-color-font-secondary: #fff;

//Width 
$-max-with-container: 1200px;